<%- include('partials/_header') %>
<!-- END LOADER -->

<!-- Start header -->
<%- include('partials/_navigation') %>
<div id="contact" class="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form method="POST" action="users/signup" novalidate id="request" class="main_form">
          <div class="row">
            <div class="col-md-12">
              <input
                class="contactus"
                placeholder="Email"
                type="email"
                name="email"
              />
            </div>
            <div class="col-md-12">
              <input
                class="contactus"
                placeholder="Name"
                type="name"
                name="name"
              />
            </div>
            <div class="col-md-12">
                <input
                  class="contactus"
                  placeholder="Password"
                  type="password"
                  name="password"
                />
              </div>
            <div class="col-md-12">
                <select class="form-control" name="role">
                    <option>customer</option>
                    <option>coach</option>
                </select>
             </div>
            <div class="col-md-12">
              <button type="submit" value="LOGIN" class="send_btn">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('partials/_footer') %>
